.header-container {
  position: sticky;
  padding: 30px 30px;
  height: 100px;
  border-bottom: rgba(148, 135, 135, 0.74) 1px solid;
  box-shadow: 0px 6px 11px -5px rgba(148, 135, 135, 0.74);
  -webkit-box-shadow: 0px 6px 11px -5px rgba(148, 135, 135, 0.74);
  -moz-box-shadow: 0px 6px 11px -5px rgba(148, 135, 135, 0.74);
}
.header {
  display: flex;
  list-style: none;
}
.right {
  margin-left: auto;
}
.header h1 {
  margin-left: 30px;
  color: #8e35de;
}
.right .More-info {
  margin-right: 20px;
}

.right .More-info .Login {
  margin-right: 20px;
  color: #000;
  font-weight: bold;
}

.right .More-info .Register {
  color: #000;
  font-weight: bold;
}

.search-bar-event {
  width: 500px;
  margin-left: 200px;
}
